// Diplomados Custom

//-----

.content-section .video-section{
	max-height: 800px;
	padding: 110px 0 32px;
}

.video-section .pattern-overlay {
	background-color: rgba(71, 71, 71, 0.59);
	padding: 110px 0 32px;
	min-height: 496px;
	/* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
	text-align:center;
	color:#fff;
}
.video-section h1{
	font-size:110px;
	font-family: 'Buenard', serif;
	font-weight:bold;
	text-transform: uppercase;
	margin: 40px auto 0px;
	text-shadow: 1px 1px 1px #000;
	-webkit-text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
	font-size: 25px;
	font-weight:lighter;
	margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

//-----

$width: 180px;
$height: 169px;


.navbar-brand{
	span{
		display: none;
	}
	img{
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		width: 64px;
		height: 64px;
		margin-top: 0;
	}
}

.top-nav-collapse{
	.navbar-brand{
		img{
			width: 32px;
			height: 32px;
			margin-top: -2px;
		}
	}
}


#intro{
	@include clearfix;

	.video-container{
		
		float: left;
		z-index: -100;
		overflow: hidden;
		
		video{
			position: relative;
			top: 0;
			left: 0;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
		    // transform: translateX(-50%) translateY(-50%);
		}
	}

	.container{
		
		z-index: 10;
		padding-top: 90px;

		h1{
			font-weight: 200;
			text-transform: uppercase;
			margin-bottom: 1em;
			&.title{
				font-weight: 100 ;
				font-size: 2.5em;
				color: $brand-primary;
			}
		}
	}
}

.scroll-section{
	
	min-height: 20rem;
	padding: 6rem 0;
	
	&:first-child{
		padding-top: 12rem;
	}

	&:nth-child(odd){
		background-color: transparentize($brand-primary, .9);
	}

	h2{
		color: $brand-primary;
		text-transform: uppercase;
	}

	.diplomado{
		// margin: 1em .5em;
		padding: 1em;
		border: 2px solid $white;
		border-radius: 3px;

		h2{
			width: auto;
			color: $white;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 20px;
		}

		&.priv{
			background-color: $color-priv;
		}

		&.pub{
			background-color: $color-pub;
			.logo{
				filter: hue-rotate(15deg);
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
	}
}

.diplo-block{
	
	background-color: $white;
	padding: 1em 2em;
	margin: 2em 0;
	border-radius: 4px;
	border: 1px solid fade($black, 30%);
	
	.logo{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin: 2em auto;
		background-image: url('../img/logo-innova-o-w.svg');
		background-size: 64px 64px;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.logo{border: 1px solid $white}

	&.priv{
		color: darken($color-priv, 20);
		border: 1px solid transparentize($color-priv, .7);
		.logo{
			background-color: $color-priv;
		}
		&.invert{
			background-color: $color-priv;
			color: $white;
			h3{color: $white}
		}
		h3{color: $color-priv}
	}

	&.pub{
		color: darken($color-pub, 20);
		border: 1px solid transparentize($color-pub, .7);
		.logo{
			background-color: $color-pub;
			filter: hue-rotate(15deg);
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
		}
		&.invert{
			background-color: $color-pub;
			color: $white;
			h3{color: $white}
		}
		h3{color: $color-pub}
	}

	h3{
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 0.1ex;
		font-size: 2rem;
	}
}


.diplo-pub{
	.logo-pub{
		background-color: $color-pub;
	}
}


footer{
	padding: 2em 0;
	background-color: $brand-primary;
	color: $white;

	a{
		color: $white;
		font-weight: bolder;
		&:hover{
			color: ligthen($brand-primary, 70%);
		}
	}
}

// breakpoint and up

@media (min-width: $screen-md){
	.navbar {
		padding: 20px 0;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
	}

	.navbar-brand{
		img{
			width: 52px;
			height: 52px;
			margin-top: -12px;
		}
	}


	.intro{margin: 90px 0 0 0;}

	.top-nav-collapse {
		padding: 0;
	}
}